* {
  box-sizing: border-box; /* 使padding、border、margin不影響主體物件大小 */
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Apple LiGothic Medium", "Herr Von Muellerhoff",
    "Microsoft JhengHei", sans-serif; /* 字形樣式 */
  list-style: none; /* 移除列表的符號 */
  text-decoration: none; /* 移除超連結的下底線 */
}
img {
  width: 12%;
  margin-right: 1rem;
}

nav {
  height: 50px;
  background-color: rgba(102, 16, 83, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-info {
  display: flex;
  list-style: none;
}
.nav-route {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.login {
  min-height: calc(100vh - 50px); /* 必須有空格 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 53px -21px rgba(43, 44, 43, 0.7);
}
.wrapper {
  width: 60%;
  height: 75%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 23px 15px rgba(34, 41, 121, 0.5);
  border-radius: 20px;
  background: lightsteelblue;
}
.other-login {
  color: white;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.google {
  background: rgba(245, 24, 24, 0.8);
}
.facebook {
  background: blue;
  background: rgba(0, 100, 255, 0.5);
  /* color: #000; */
}
.github {
  /* background: black; */
  background: rgba(10, 10, 10, 0.5);
}
.line {
  background: rgba(0, 255, 0, 0.8);
}
.login-box {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  align-items: center;
}
.local {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: 100%;
  height: 30%;
  border-radius: 50px;
  border: 3px solid #777;
  padding: 1.5rem 1.3rem;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
input:focus {
  border: 5px solid #777;
}
.submit {
  height: 30%;
  width: 50%;
  background-color: rgba(128, 0, 128, 0.7);
  color: white;
  font-weight: 700;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  background: gray;
  border-radius: 50%;
  padding: 1.5rem;
}
.or::after {
  content: "------";
  color: rgba(100, 100, 100, 0.5);
  position: absolute;
  display: flex;
  transform: scale(1, 6) rotate(90deg) translateX(-5px);
  z-index: -1;
}
